Import agate, python based data analysis

In [30]:
import agate

In [64]:
wells97 = agate.Table.from_csv('wells1997.csv')
wells02 = agate.Table.from_csv('wells2002.csv')
wells07 = agate.Table.from_csv('wells2007.csv')
wells12 = agate.Table.from_csv('wells2012.csv')
def upperCase(row):
    return row['Countyname'].upper()
clean_well97 = wells97.compute([
        ('clean_County', agate.Formula(agate.Text(), upperCase))
]).select(['clean_County', 'Wells'])
clean_well02 = wells02.compute([
        ('clean_County', agate.Formula(agate.Text(), upperCase))
]).select(['clean_County', 'Wells'])
clean_well07 = wells07.compute([
        ('clean_County', agate.Formula(agate.Text(), upperCase))
]).select(['clean_County', 'Wells'])
clean_well12 = wells12.compute([
        ('clean_County', agate.Formula(agate.Text(), upperCase))
]).select(['clean_County', 'Wells'])

In [65]:
print(clean_well97)

|---------------+---------------|
|  column_names | column_types  |
|---------------+---------------|
|  clean_County | Text          |
|  Wells        | Number        |
|---------------+---------------|

In [66]:
acres97 = agate.Table.from_csv('irrigatedAcres1997.csv')
acres02 = agate.Table.from_csv('irrigatedAcres2002.csv')
acres07 = agate.Table.from_csv('irrigatedAcres2007.csv')
acres12 = agate.Table.from_csv('irrigatedAcres2012.csv')

In [67]:
print(acres97)
acres97.print_table(10)

|-----------------+---------------|
|  column_names   | column_types  |
|-----------------+---------------|
|  Year           | Date          |
|  County         | Text          |
|  IrrigatedAcres | Number        |
|-----------------+---------------|

|-------------+---------+-----------------|
|        Year | County  | IrrigatedAcres  |
|-------------+---------+-----------------|
|  1997-01-01 | BUFFALO |        213,778  |
|  1997-01-01 | CUSTER  |        197,726  |
|  1997-01-01 | DAWSON  |        222,075  |
|  1997-01-01 | GREELEY |         57,413  |
|  1997-01-01 | HALL    |        181,222  |
|  1997-01-01 | HOWARD  |        111,342  |
|  1997-01-01 | SHERMAN |         59,487  |
|  1997-01-01 | VALLEY  |         73,340  |
|  1997-01-01 | BUTLER  |         97,543  |
|  1997-01-01 | COLFAX  |         53,059  |
|         ... | ...     |            ...  |
|-------------+---------+-----------------|

In [68]:
total97 = clean_well97.join(acres97, 'clean_County', 'County', inner=True)
print(len(total97.rows))
total97.print_table()

total02 = clean_well02.join(acres02, 'clean_County', 'County', inner=True)
print(len(total02.rows))
total02.print_table()

total07 = clean_well07.join(acres07, 'clean_County', 'County', inner=True)
print(len(total07.rows))
total07.print_table()

total12 = clean_well12.join(acres12, 'clean_County', 'County', inner=True)
print(len(total12.rows))
total12.print_table()

91
|---------------+-------+------------+-----------------|
|  clean_County | Wells |       Year | IrrigatedAcres  |
|---------------+-------+------------+-----------------|
|  HALL         | 4,323 | 1997-01-01 |        181,222  |
|  THAYER       | 1,454 | 1997-01-01 |        118,987  |
|  SCOTTS BLUFF |   747 | 1997-01-01 |        177,186  |
|  DAWSON       | 3,799 | 1997-01-01 |        222,075  |
|  FRONTIER     |   681 | 1997-01-01 |         55,780  |
|  ADAMS        | 2,179 | 1997-01-01 |        189,409  |
|  BOX BUTTE    | 1,161 | 1997-01-01 |        136,961  |
|  KEITH        | 1,066 | 1997-01-01 |         79,419  |
|  DEUEL        |   329 | 1997-01-01 |         16,968  |
|  HOLT         | 2,660 | 1997-01-01 |        210,369  |
|  SALINE       | 1,077 | 1997-01-01 |         75,168  |
|  CEDAR        |   615 | 1997-01-01 |         62,894  |
|  CUSTER       | 1,931 | 1997-01-01 |        197,726  |
|  CUMING       |   391 | 1997-01-01 |         32,673  |
|  RED WILLOW   | 1,015 | 1997-01-01 |         54,166  |
|  MERRICK      | 5,008 | 1997-01-01 |        166,419  |
|  KEARNEY      | 2,070 | 1997-01-01 |        191,854  |
|  FILLMORE     | 2,111 | 1997-01-01 |        199,293  |
|  NUCKOLLS     |   722 | 1997-01-01 |         50,239  |
|  DUNDY        | 1,062 | 1997-01-01 |         84,711  |
|  FURNAS       |   797 | 1997-01-01 |         55,126  |
|  FRANKLIN     | 1,032 | 1997-01-01 |         87,966  |
|  MADISON      |   809 | 1997-01-01 |         80,505  |
|  YORK         | 2,912 | 1997-01-01 |        235,474  |
|  HAYES        |   371 | 1997-01-01 |         34,498  |
|  SEWARD       | 1,275 | 1997-01-01 |        110,550  |
|  HITCHCOCK    |   568 | 1997-01-01 |         30,706  |
|  CLAY         | 2,205 | 1997-01-01 |        184,524  |
|  PHELPS       | 1,972 | 1997-01-01 |        227,877  |
|  BUFFALO      | 3,876 | 1997-01-01 |        213,778  |
|  LINCOLN      | 1,932 | 1997-01-01 |        202,479  |
|  DODGE        | 1,673 | 1997-01-01 |         97,724  |
|  JEFFERSON    |   624 | 1997-01-01 |         56,292  |
|  BOONE        | 1,365 | 1997-01-01 |        133,006  |
|  MCPHERSON    |   105 | 1997-01-01 |          7,498  |
|  BUTLER       | 1,264 | 1997-01-01 |         97,543  |
|  HARLAN       | 1,027 | 1997-01-01 |         76,614  |
|  POLK         | 1,774 | 1997-01-01 |        136,672  |
|  PLATTE       | 1,780 | 1997-01-01 |        151,985  |
|  CHASE        | 1,451 | 1997-01-01 |        171,217  |
|  GOSPER       |   635 | 1997-01-01 |         68,267  |
|  MORRILL      |   826 | 1997-01-01 |        117,045  |
|  NEMAHA       |    45 | 1997-01-01 |          3,621  |
|  BANNER       |   389 | 1997-01-01 |         21,998  |
|  ANTELOPE     | 1,780 | 1997-01-01 |        185,854  |
|  HAMILTON     | 3,067 | 1997-01-01 |        244,242  |
|  WHEELER      |   564 | 1997-01-01 |         48,915  |
|  NANCE        | 1,111 | 1997-01-01 |         60,511  |
|  COLFAX       |   994 | 1997-01-01 |         53,059  |
|  SHERMAN      |   581 | 1997-01-01 |         59,487  |
|  WEBSTER      |   573 | 1997-01-01 |         37,094  |
|  THURSTON     |    95 | 1997-01-01 |          6,109  |
|  WAYNE        |   225 | 1997-01-01 |         18,591  |
|  PIERCE       | 1,029 | 1997-01-01 |         92,535  |
|  WASHINGTON   |   114 | 1997-01-01 |         15,676  |
|  SAUNDERS     |   876 | 1997-01-01 |         76,671  |
|  VALLEY       |   569 | 1997-01-01 |         73,340  |
|  SARPY        |   126 | 1997-01-01 |          8,311  |
|  GREELEY      |   693 | 1997-01-01 |         57,413  |
|  DOUGLAS      |   320 | 1997-01-01 |         15,570  |
|  DIXON        |   154 | 1997-01-01 |         16,232  |
|  BURT         |   473 | 1997-01-01 |         38,330  |
|  GARFIELD     |   209 | 1997-01-01 |         14,187  |
|  GAGE         |   566 | 1997-01-01 |         49,024  |
|  HOWARD       | 1,012 | 1997-01-01 |        111,342  |
|  CHERRY       |   424 | 1997-01-01 |         43,951  |
|  SIOUX        |   314 | 1997-01-01 |         41,774  |
|  LOGAN        |   173 | 1997-01-01 |         15,383  |
|  KNOX         |   401 | 1997-01-01 |         38,770  |
|  ROCK         |   648 | 1997-01-01 |         40,866  |
|  GARDEN       |   352 | 1997-01-01 |         38,063  |
|  KEYA PAHA    |   177 | 1997-01-01 |         10,514  |
|  STANTON      |   343 | 1997-01-01 |         24,214  |
|  PERKINS      |   903 | 1997-01-01 |        128,259  |
|  CHEYENNE     |   555 | 1997-01-01 |         50,634  |
|  LANCASTER    |   301 | 1997-01-01 |         12,951  |
|  KIMBALL      |   350 | 1997-01-01 |         24,901  |
|  BROWN        |   457 | 1997-01-01 |         52,168  |
|  SHERIDAN     |   625 | 1997-01-01 |         56,545  |
|  BLAINE       |   111 | 1997-01-01 |          8,595  |
|  GRANT        |    26 | 1997-01-01 |          1,380  |
|  JOHNSON      |   155 | 1997-01-01 |         10,326  |
|  OTOE         |    44 | 1997-01-01 |          4,496  |
|  BOYD         |    58 | 1997-01-01 |          4,926  |
|  ARTHUR       |    87 | 1997-01-01 |         16,097  |
|  DAKOTA       |   117 | 1997-01-01 |         12,125  |
|  DAWES        |    80 | 1997-01-01 |         15,754  |
|  LOUP         |   114 | 1997-01-01 |         10,375  |
|  THOMAS       |    37 | 1997-01-01 |          1,956  |
|  HOOKER       |    31 | 1997-01-01 |          2,795  |
|  RICHARDSON   |    21 | 1997-01-01 |          1,554  |
|---------------+-------+------------+-----------------|
93
|---------------+-------+------------+-----------------|
|  clean_County | Wells |       Year | IrrigatedAcres  |
|---------------+-------+------------+-----------------|
|  HALL         | 4,364 | 2002-01-01 |        187,021  |
|  THAYER       | 1,533 | 2002-01-01 |        133,066  |
|  SCOTTS BLUFF |   786 | 2002-01-01 |        172,955  |
|  DAWSON       | 3,850 | 2002-01-01 |        225,508  |
|  ADAMS        | 2,262 | 2002-01-01 |        198,555  |
|  BOX BUTTE    | 1,198 | 2002-01-01 |        132,854  |
|  KEITH        | 1,150 | 2002-01-01 |         90,981  |
|  DEUEL        |   338 | 2002-01-01 |         17,026  |
|  HOLT         | 2,779 | 2002-01-01 |        234,509  |
|  SALINE       | 1,127 | 2002-01-01 |         93,517  |
|  CEDAR        |   704 | 2002-01-01 |         84,511  |
|  WEBSTER      |   652 | 2002-01-01 |         48,954  |
|  CUSTER       | 2,014 | 2002-01-01 |        207,230  |
|  CUMING       |   419 | 2002-01-01 |         43,308  |
|  RED WILLOW   | 1,051 | 2002-01-01 |         44,528  |
|  MERRICK      | 5,102 | 2002-01-01 |        176,068  |
|  KEARNEY      | 2,130 | 2002-01-01 |        215,838  |
|  FILLMORE     | 2,133 | 2002-01-01 |        201,608  |
|  NUCKOLLS     |   770 | 2002-01-01 |         58,449  |
|  DUNDY        | 1,067 | 2002-01-01 |         88,646  |
|  FURNAS       |   891 | 2002-01-01 |         68,008  |
|  FRANKLIN     | 1,113 | 2002-01-01 |         92,791  |
|  MADISON      |   884 | 2002-01-01 |         97,844  |
|  YORK         | 2,954 | 2002-01-01 |        241,525  |
|  HAYES        |   480 | 2002-01-01 |         50,273  |
|  SEWARD       | 1,317 | 2002-01-01 |        128,347  |
|  HITCHCOCK    |   585 | 2002-01-01 |         31,751  |
|  CLAY         | 2,237 | 2002-01-01 |        201,394  |
|  PHELPS       | 2,019 | 2002-01-01 |        250,548  |
|  BUFFALO      | 3,969 | 2002-01-01 |        233,569  |
|  LINCOLN      | 2,077 | 2002-01-01 |        207,412  |
|  DODGE        | 1,716 | 2002-01-01 |        110,641  |
|  JEFFERSON    |   676 | 2002-01-01 |         70,768  |
|  BOONE        | 1,461 | 2002-01-01 |        162,088  |
|  MCPHERSON    |   108 | 2002-01-01 |         12,574  |
|  BUTLER       | 1,290 | 2002-01-01 |        110,160  |
|  HARLAN       | 1,114 | 2002-01-01 |         71,750  |
|  POLK         | 1,818 | 2002-01-01 |        143,646  |
|  PLATTE       | 1,877 | 2002-01-01 |        178,523  |
|  WAYNE        |   247 | 2002-01-01 |         30,482  |
|  CHASE        | 1,448 | 2002-01-01 |        169,176  |
|  GOSPER       |   675 | 2002-01-01 |         83,431  |
|  MORRILL      |   916 | 2002-01-01 |        123,031  |
|  NEMAHA       |    51 | 2002-01-01 |          4,130  |
|  BANNER       |   417 | 2002-01-01 |         20,329  |
|  ANTELOPE     | 1,933 | 2002-01-01 |        225,403  |
|  HAMILTON     | 3,092 | 2002-01-01 |        267,590  |
|  WHEELER      |   583 | 2002-01-01 |         46,307  |
|  NANCE        | 1,123 | 2002-01-01 |         54,188  |
|  COLFAX       | 1,022 | 2002-01-01 |         59,064  |
|  SHERMAN      |   614 | 2002-01-01 |         61,231  |
|  THURSTON     |   105 | 2002-01-01 |          9,802  |
|  PIERCE       | 1,097 | 2002-01-01 |        115,069  |
|  WASHINGTON   |   122 | 2002-01-01 |         19,536  |
|  SAUNDERS     |   927 | 2002-01-01 |         97,241  |
|  VALLEY       |   577 | 2002-01-01 |         77,861  |
|  SARPY        |   140 | 2002-01-01 |          9,509  |
|  GREELEY      |   729 | 2002-01-01 |         61,405  |
|  DOUGLAS      |   363 | 2002-01-01 |         12,931  |
|  DIXON        |   165 | 2002-01-01 |         17,280  |
|  BURT         |   486 | 2002-01-01 |         50,701  |
|  GARFIELD     |   212 | 2002-01-01 |         13,529  |
|  GAGE         |   589 | 2002-01-01 |         54,112  |
|  CASS         |    47 | 2002-01-01 |          2,137  |
|  HOWARD       | 1,052 | 2002-01-01 |        103,499  |
|  CHERRY       |   443 | 2002-01-01 |         34,579  |
|  SIOUX        |   336 | 2002-01-01 |         39,926  |
|  FRONTIER     |   709 | 2002-01-01 |         62,811  |
|  LOGAN        |   183 | 2002-01-01 |         19,010  |
|  KNOX         |   435 | 2002-01-01 |         45,957  |
|  ROCK         |   653 | 2002-01-01 |         34,388  |
|  GARDEN       |   369 | 2002-01-01 |         34,781  |
|  KEYA PAHA    |   189 | 2002-01-01 |         15,777  |
|  STANTON      |   369 | 2002-01-01 |         21,309  |
|  LANCASTER    |   329 | 2002-01-01 |         17,394  |
|  PERKINS      |   918 | 2002-01-01 |        121,683  |
|  CHEYENNE     |   585 | 2002-01-01 |         51,138  |
|  KIMBALL      |   366 | 2002-01-01 |         26,783  |
|  BROWN        |   460 | 2002-01-01 |         52,330  |
|  SHERIDAN     |   637 | 2002-01-01 |         51,266  |
|  BLAINE       |   112 | 2002-01-01 |          9,830  |
|  GRANT        |    26 | 2002-01-01 |          1,158  |
|  JOHNSON      |   165 | 2002-01-01 |         12,770  |
|  DAKOTA       |   131 | 2002-01-01 |         11,042  |
|  OTOE         |    45 | 2002-01-01 |          4,521  |
|  BOYD         |    66 | 2002-01-01 |          5,531  |
|  ARTHUR       |    90 | 2002-01-01 |          7,755  |
|  DAWES        |    83 | 2002-01-01 |         15,017  |
|  LOUP         |   117 | 2002-01-01 |          9,607  |
|  THOMAS       |    37 | 2002-01-01 |          2,177  |
|  HOOKER       |    31 | 2002-01-01 |          5,176  |
|  RICHARDSON   |    28 | 2002-01-01 |          1,050  |
|  PAWNEE       |     1 | 2002-01-01 |          2,686  |
|---------------+-------+------------+-----------------|
93
|---------------+-------+------------+-----------------|
|  clean_County | Wells |       Year | IrrigatedAcres  |
|---------------+-------+------------+-----------------|
|  KEARNEY      | 2,326 | 2007-01-01 |        216,336  |
|  SHERIDAN     |   678 | 2007-01-01 |         56,977  |
|  HALL         | 4,522 | 2007-01-01 |        206,897  |
|  DAWSON       | 4,083 | 2007-01-01 |        263,867  |
|  MORRILL      |   997 | 2007-01-01 |        144,581  |
|  ADAMS        | 2,427 | 2007-01-01 |        203,549  |
|  BOX BUTTE    | 1,306 | 2007-01-01 |        143,021  |
|  KEITH        | 1,265 | 2007-01-01 |        116,106  |
|  DEUEL        |   355 | 2007-01-01 |         17,853  |
|  HOLT         | 3,060 | 2007-01-01 |        339,080  |
|  THAYER       | 1,648 | 2007-01-01 |        131,413  |
|  SALINE       | 1,203 | 2007-01-01 |         81,850  |
|  CEDAR        |   866 | 2007-01-01 |        112,123  |
|  WEBSTER      |   737 | 2007-01-01 |         62,363  |
|  CUSTER       | 2,222 | 2007-01-01 |        333,441  |
|  CUMING       |   492 | 2007-01-01 |         51,158  |
|  RED WILLOW   | 1,059 | 2007-01-01 |         55,075  |
|  MERRICK      | 5,318 | 2007-01-01 |        163,806  |
|  FILLMORE     | 2,300 | 2007-01-01 |        223,522  |
|  NUCKOLLS     |   876 | 2007-01-01 |         61,115  |
|  DUNDY        | 1,068 | 2007-01-01 |        112,676  |
|  FURNAS       |   955 | 2007-01-01 |         51,894  |
|  FRANKLIN     | 1,163 | 2007-01-01 |         87,295  |
|  MADISON      | 1,004 | 2007-01-01 |        107,885  |
|  YORK         | 3,080 | 2007-01-01 |        254,711  |
|  HAYES        |   518 | 2007-01-01 |         65,655  |
|  SEWARD       | 1,416 | 2007-01-01 |        127,433  |
|  HITCHCOCK    |   600 | 2007-01-01 |         18,998  |
|  CLAY         | 2,358 | 2007-01-01 |        218,108  |
|  PHELPS       | 2,266 | 2007-01-01 |        246,754  |
|  BUFFALO      | 4,137 | 2007-01-01 |        269,141  |
|  LINCOLN      | 2,337 | 2007-01-01 |        322,916  |
|  DODGE        | 1,832 | 2007-01-01 |        116,051  |
|  JEFFERSON    |   770 | 2007-01-01 |         80,979  |
|  BOONE        | 1,616 | 2007-01-01 |        173,086  |
|  MCPHERSON    |   111 | 2007-01-01 |          9,675  |
|  BUTLER       | 1,400 | 2007-01-01 |        117,973  |
|  HARLAN       | 1,167 | 2007-01-01 |        107,551  |
|  POLK         | 1,937 | 2007-01-01 |        164,566  |
|  PLATTE       | 2,087 | 2007-01-01 |        208,388  |
|  WAYNE        |   302 | 2007-01-01 |         42,736  |
|  CHASE        | 1,451 | 2007-01-01 |        185,274  |
|  GOSPER       |   761 | 2007-01-01 |         81,402  |
|  NEMAHA       |   124 | 2007-01-01 |          8,439  |
|  BANNER       |   420 | 2007-01-01 |         16,056  |
|  PIERCE       | 1,258 | 2007-01-01 |        128,897  |
|  ANTELOPE     | 2,206 | 2007-01-01 |        261,266  |
|  HAMILTON     | 3,169 | 2007-01-01 |        257,748  |
|  WHEELER      |   612 | 2007-01-01 |         44,072  |
|  SAUNDERS     | 1,055 | 2007-01-01 |         93,428  |
|  NANCE        | 1,245 | 2007-01-01 |         69,428  |
|  ROCK         |   684 | 2007-01-01 |         43,586  |
|  COLFAX       | 1,117 | 2007-01-01 |         62,481  |
|  SHERMAN      |   678 | 2007-01-01 |         72,256  |
|  THURSTON     |   117 | 2007-01-01 |          7,813  |
|  SCOTTS BLUFF |   874 | 2007-01-01 |        155,576  |
|  WASHINGTON   |   129 | 2007-01-01 |         18,479  |
|  VALLEY       |   602 | 2007-01-01 |         99,325  |
|  SARPY        |   155 | 2007-01-01 |         11,844  |
|  GREELEY      |   824 | 2007-01-01 |         76,393  |
|  DOUGLAS      |   383 | 2007-01-01 |         13,804  |
|  DIXON        |   208 | 2007-01-01 |         21,583  |
|  BURT         |   521 | 2007-01-01 |         42,938  |
|  GARFIELD     |   221 | 2007-01-01 |         20,620  |
|  GAGE         |   633 | 2007-01-01 |         59,275  |
|  CASS         |    52 | 2007-01-01 |          2,959  |
|  HOWARD       | 1,129 | 2007-01-01 |        104,273  |
|  CHERRY       |   480 | 2007-01-01 |         44,734  |
|  SIOUX        |   359 | 2007-01-01 |         51,498  |
|  FRONTIER     |   723 | 2007-01-01 |         53,702  |
|  LOGAN        |   218 | 2007-01-01 |         24,756  |
|  KNOX         |   487 | 2007-01-01 |         51,751  |
|  KEYA PAHA    |   233 | 2007-01-01 |         18,124  |
|  GARDEN       |   395 | 2007-01-01 |         44,854  |
|  STANTON      |   419 | 2007-01-01 |         31,201  |
|  LANCASTER    |   357 | 2007-01-01 |         15,553  |
|  PERKINS      |   918 | 2007-01-01 |        133,393  |
|  CHEYENNE     |   616 | 2007-01-01 |         51,318  |
|  KIMBALL      |   405 | 2007-01-01 |         33,283  |
|  BROWN        |   462 | 2007-01-01 |         51,923  |
|  BLAINE       |   116 | 2007-01-01 |         13,650  |
|  GRANT        |    26 | 2007-01-01 |          1,475  |
|  JOHNSON      |   186 | 2007-01-01 |         11,281  |
|  DAKOTA       |   134 | 2007-01-01 |         20,414  |
|  OTOE         |    54 | 2007-01-01 |          4,150  |
|  BOYD         |    69 | 2007-01-01 |          4,488  |
|  ARTHUR       |    90 | 2007-01-01 |          8,242  |
|  DAWES        |    88 | 2007-01-01 |         17,572  |
|  LOUP         |   127 | 2007-01-01 |         10,375  |
|  HOOKER       |    30 | 2007-01-01 |          2,995  |
|  THOMAS       |    38 | 2007-01-01 |          3,208  |
|  RICHARDSON   |    41 | 2007-01-01 |          2,180  |
|  PAWNEE       |     3 | 2007-01-01 |          4,620  |
|---------------+-------+------------+-----------------|
93
|---------------+-------+------------+-----------------|
|  clean_County | Wells |       Year | IrrigatedAcres  |
|---------------+-------+------------+-----------------|
|  KEARNEY      | 2,324 | 2012-01-01 |        194,547  |
|  SHERIDAN     |   682 | 2012-01-01 |         60,699  |
|  HALL         | 4,520 | 2012-01-01 |        207,639  |
|  DAWSON       | 4,052 | 2012-01-01 |        248,463  |
|  MORRILL      | 1,000 | 2012-01-01 |        128,633  |
|  ADAMS        | 2,516 | 2012-01-01 |        215,269  |
|  BOX BUTTE    | 1,311 | 2012-01-01 |        141,563  |
|  KEITH        | 1,279 | 2012-01-01 |        115,304  |
|  DEUEL        |   353 | 2012-01-01 |         17,382  |
|  HOLT         | 3,327 | 2012-01-01 |        280,234  |
|  THAYER       | 1,746 | 2012-01-01 |        135,509  |
|  SALINE       | 1,268 | 2012-01-01 |        108,115  |
|  CEDAR        | 1,096 | 2012-01-01 |        139,048  |
|  WEBSTER      |   740 | 2012-01-01 |         55,006  |
|  CUSTER       | 2,246 | 2012-01-01 |        261,502  |
|  CUMING       |   525 | 2012-01-01 |         52,445  |
|  RED WILLOW   | 1,043 | 2012-01-01 |         53,127  |
|  MERRICK      | 5,344 | 2012-01-01 |        167,430  |
|  FILLMORE     | 2,340 | 2012-01-01 |        210,981  |
|  NUCKOLLS     |   910 | 2012-01-01 |         65,246  |
|  DUNDY        | 1,064 | 2012-01-01 |         94,837  |
|  FURNAS       |   949 | 2012-01-01 |         66,352  |
|  FRANKLIN     | 1,149 | 2012-01-01 |         85,752  |
|  MADISON      | 1,105 | 2012-01-01 |        122,039  |
|  HAYES        |   518 | 2012-01-01 |         57,112  |
|  YORK         | 3,117 | 2012-01-01 |        252,439  |
|  SEWARD       | 1,454 | 2012-01-01 |        129,932  |
|  HITCHCOCK    |   589 | 2012-01-01 |         21,491  |
|  CLAY         | 2,417 | 2012-01-01 |        191,700  |
|  PHELPS       | 2,275 | 2012-01-01 |        231,896  |
|  BUFFALO      | 4,130 | 2012-01-01 |        240,799  |
|  DIXON        |   241 | 2012-01-01 |         23,966  |
|  LINCOLN      | 2,362 | 2012-01-01 |        239,819  |
|  DODGE        | 1,891 | 2012-01-01 |        117,968  |
|  JEFFERSON    |   839 | 2012-01-01 |         92,769  |
|  BOONE        | 1,664 | 2012-01-01 |        184,700  |
|  MCPHERSON    |   114 | 2012-01-01 |          7,113  |
|  BUTLER       | 1,442 | 2012-01-01 |        110,839  |
|  HARLAN       | 1,152 | 2012-01-01 |         93,336  |
|  POLK         | 1,964 | 2012-01-01 |        151,016  |
|  PLATTE       | 2,142 | 2012-01-01 |        194,037  |
|  WAYNE        |   349 | 2012-01-01 |         49,807  |
|  CHASE        | 1,449 | 2012-01-01 |        159,692  |
|  GOSPER       |   769 | 2012-01-01 |         98,765  |
|  NEMAHA       |   143 | 2012-01-01 |         11,402  |
|  BANNER       |   422 | 2012-01-01 |         15,173  |
|  PIERCE       | 1,337 | 2012-01-01 |        130,027  |
|  ANTELOPE     | 2,435 | 2012-01-01 |        249,735  |
|  HAMILTON     | 3,148 | 2012-01-01 |        235,492  |
|  WHEELER      |   626 | 2012-01-01 |         39,363  |
|  SAUNDERS     | 1,097 | 2012-01-01 |        105,618  |
|  NANCE        | 1,255 | 2012-01-01 |         63,316  |
|  ROCK         |   701 | 2012-01-01 |         36,290  |
|  COLFAX       | 1,143 | 2012-01-01 |         66,796  |
|  SHERMAN      |   696 | 2012-01-01 |         71,109  |
|  THURSTON     |   130 | 2012-01-01 |         11,915  |
|  SCOTTS BLUFF |   872 | 2012-01-01 |        199,195  |
|  WASHINGTON   |   132 | 2012-01-01 |         17,279  |